body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #333;
    color: #f4f4f4;
}

.CV {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme .CV {
    background-color: #444;
    color: #f4f4f4;
}

header {
    text-align: center;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
    padding-bottom: 10px;
    transition: border-color 0.3s;
}

body.dark-theme header {
    border-color: #f4f4f4;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
    font-size: 1.1em;
}

button.theme-toggle {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5em;
    transition: color 0.3s;
}

body.dark-theme button.theme-toggle {
    color: #f4f4f4;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

body.dark-theme section h2 {
    border-color: #f4f4f4;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

section ul li h3 {
    margin: 0;
    font-size: 1.2em;
}

section ul li p {
    margin: 5px 0;
}